  .p-tabview-nav {
    justify-content: center !important;
    font-size: 1rem;
    gap: 30px;
  }
  .anyang-tab {
    margin-left: 0px;
  }
  
 
.anyang{
    margin-left: auto;
    margin-right: auto; 
    background-color: #ffffff;
    /*border: 2px solid rgb(156, 156, 156);*/
    overflow-y: scroll;
    max-height: 70vh;
}

/* 강화캠 탭을 오른쪽으로 10px 이동 */
  

.Ganghwa{
    margin-left: auto;
    margin-right: auto; 
    background-color: #ffffff;
    /*border: 2px solid rgb(156, 156, 156);*/
    overflow-y: scroll;
    max-height: 70vh;

}