@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');


.header{
    background-color: #ffffff;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;

}

.header-button {
    background: none;
    border: none;
    cursor: pointer;
  }


  
  .header-title {
    font-size: 20px !important;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
  }