@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

.button {
  display: flex;
  justify-content: space-between; /* 양 끝에 배치 */
  align-items: center;
  width: 100%;
  padding: 0px 30px;

}

.left-button {

  margin-right: auto; /* 왼쪽으로 밀어내기 */
}

.right-button {

  margin-left: auto; /* 오른쪽으로 밀어내기 */
}

.nav-button {
  padding: 10px 40px;
  font-size: 16px;
  cursor: pointer;
  border: none; 
  background-color: white;
  text-align: center;
  position: relative;
  font-family: 'Noto Sans KR', sans-serif;

}

.nav-button.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #77acfc; /* 파란색 */
 
}