/*.Body{
    display: flex;
    overflow-y: scroll;
}

.Body::-webkit-scrollbar {
    width: 10px; 
  }
  
  .Body::-webkit-scrollbar-track {
    background: #f9f9f9; 
    border:1px solid #bababa;

  }
  
  .Body::-webkit-scrollbar-thumb {
    background: #c7d8f2b1; 
    border-radius: 10px; 
  
  }
  
  .Body::-webkit-scrollbar-thumb:hover {
    background: #77acfc; 
  }*/