.contactInfo-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  margin-top: 5px;
  margin-bottom: 5px; 
  padding: 10px 20px;
}

.contactInfo-header h1 {
  margin: 3px;
  font-size: 24px;
  font-weight: bold;
  color: #333; /* Dark text color for contrast */
}

.contactInfo-header a {
  font-size: 18px;
  color: #007BFF; /* Blue color for the link */
  text-decoration: none;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.contactInfo-header a:hover {
  text-decoration: underline; /* Underline effect on hover */
}

.contactInfo-header a::before {
  content: "←";
  margin-right: 5px;
}
