.news-box {
    width: 100%;

}

.news-list {
    width: 85%;
    margin: 15px auto;
    display: flex;
    overflow-y: auto;
    height: 70vh;
    flex-direction: column;
    gap: 12px;
    
}

/* 카드 스타일 */
.newsitem-container {
    border: 1px solid #b8b6b6;
    border-radius: 20px;
    padding: 10px 15px 12px 20px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.newsitem-container:hover {
    background-color: #f5f8fc;
}

.news-header {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}

.news-title {
    font-weight: bold;
    font-size: 16px;
    color: #333;
}

.news-footer {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #666;
    font-size: 14px;
}

.divider {
    font-weight: bold;
    color: #999;
}


.custom-page-btn {
    font-size: 0.7rem !important;
    margin: 0 -5px !important;
    
  }
  
  .custom-btn {
    font-size: 0.5rem !important;
    margin: 0 -10px !important;
  
  }