.news-box{
    width: 100%;
    height: 85vh;
    overflow-y: auto;

}

.news-list {
    width: 85%;
    margin: 15px auto;
    text-align: center;
  
    /*border: 3px solid #69add0;*/

    
}

.news-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    table-layout: auto;

 
}
.news-table tr {
    border: none;
}
.news-table th, .news-table td {
    border-bottom: 1px solid #a7a2a253; 
    padding: 8px;
    font-size: 12px;
    min-width: 50px;
}

.news-table th {
    background-color: #d1e4f8e7;
    text-align: center;
    font-weight: bold;
    border-top: 1px solid #d3d3d3;
}

.news-table tr:hover {
    background-color: #ebf1f7d8;
    cursor: pointer;
}