.news-box {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
}

.news-list {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.custom-page-btn {
    font-size: 1rem !important;
    margin: 0 -5px !important;
}

.custom-btn {
    font-size: 0.5rem !important;
    margin: 0 -10px !important;
}