.search-bar {
    width: 90%;
    max-width: 500px;
    height: 3rem;
    margin: 1.5rem auto 0;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 18px;
    border: 1px solid #b8b6b6;
}

.search-input {
    flex: 1;
    padding: 8px 12px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    margin-right: 8px;
    background: transparent;
}

.search-input:focus {
    outline: none;
    box-shadow: none;
}

.search-button {
    padding: 5px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    white-space: nowrap;
    min-width: fit-content;
}

.search-button:hover {
    background-color: #0056b3;
}