
.button-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    row-gap: 15px; 
    padding: 35px;
    height: 60%;
    width: 100%;
    justify-content: center;
    align-content: center;
 

  }
  
  .square-btn {
    width: 60%; /* 고정된 가로 크기 */
    height: 95%; /* 고정된 세로 크기 */
    background-color: #E9F2FF;
    border: none;
    color: rgb(108, 108, 108);
    font-size: 13px;
    font-weight: bold;
    border-radius: 15px;  
    cursor: pointer;
    aspect-ratio: 1; /* 버튼이 정사각형이 되도록 설정 */
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15);
    
    
  }