.slide{
    background-color: #a4a4a5;
    height: 20%;
    width: 95%;
    margin-top: 10px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    border: 1px solid rgb(156, 156, 156);
  
  }

  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지를 잘라서 맞추기 */
    transition: transform 1s ease-in-out; /* 부드러운 전환 효과 */
  }

