.noticeitem-container {
    border: 1px solid #b8b6b6;
    border-radius: 20px;
    padding: 10px 10px 15px 20px;
    margin: 10px 0;
}

.noticeitem-container div {
    padding: 0px;
}

.notice-header {
    display: flex;
    align-items: center;
}

.category-title {
    font-weight: bold;
    font-size: 14px;
    color: #333;
}

.category {
    color: #1a73e8;
}

.notice-footer {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #666;
    font-size: 14px;
}

.divider {
    font-weight: bold;
}