.search-bar {

    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 20px 30px;
    padding: 0 20px;
    border-radius: 18px;
    border: 1px solid #b8b6b6;

}

.search-input {
    flex: 1;
    padding: 8px 12px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    margin-right: 8px;
}

.search-input:focus {
    outline: none;
    box-shadow: none;
}

.search-button {
    padding: 5px 15px;
    margin-right: -10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #0056b3;
}