.back{
  position: fixed;              /* 위치 고정 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; 
  max-width: 400px;
  margin-left: auto;
  margin-right: auto; 
  background-color: #eaf2fe;
}