/* .back{
 width: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 500px;
  margin: 0 auto;
   position: fixed;   
    overflow: hidden;
  background-color: #eaf2fe;
} */
.back {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    background-color: #eaf2fe;
    overflow: hidden;
}
