
.button-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    row-gap: 25px; 
    height: 60vh;
    width: 100%;
    justify-content: center;
    align-content: center;
    /*border: 2px solid rgb(255, 255, 255); */
    place-items: center; 

 

  }
  
  .square-btn {
    width: 15vh; 
    background-color: #e9f2ff78;
    border: none;
    color: rgb(108, 108, 108);
    font-size: 12px;
    font-weight: bold;
    border-radius: 15px;  
    cursor: pointer;
    aspect-ratio: 1; 
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15);
    
    
  }

  .vertical-btn {
    display: flex;
    flex-direction: column; /* 아이콘을 위, 텍스트를 아래 */
    align-items: center;
    justify-content: center;
    gap: 6px; /* 위아래 간격 */
  }

